/* @import url(../../App.css);

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.399);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("../../assets/work2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
}

.modal-card {
    text-align: center;
    margin: 1rem;
}

.modal-wrapper a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--font-secondary-color);
} */