@import url(../../App.css);

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.title-contact {
    align-self: flex-start;
    font-size: 1.5rem;
}

form {
    background: var(--bg-color-soft);
    width: 640px;
    max-width: 97%;
    border-radius: 4px;
    padding: 40px 30px;
}

.title{
    margin: 0;
    margin-bottom: 2rem;
    color: rgb(155, 155, 155);
    font-size: 0.9rem;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    background: transparent;
    font-size: 17px;
    color: var(--font-primary-color);
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: calc(100% - 34px);
    height: 200px;
    font-size: 17px;
    color: var(--font-primary-color);
}

form .action input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--font-secondary-color);
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
    color: var(--font-primary-color);
}

form .action input:hover{
    background: var(--font-secondary-color);
    color: black;
}

form .half .item input:focus, form .full textarea:focus{
    border-color: var(--font-secondary-color);
}

.info-message{
    text-align: center;
}
